<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Layout</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
	<div class="wrapper">
		<div class="header">
			<div class="logo-menu">
				<div class="logo"></div>
				<div class="menu"></div>
			</div>
			<div class="bio-img"></div>	

		</div> <!-- end of header -->
		
		<div class="main">
			<div class="post">	
				<div class="headline"></div>
				<div class="post-img"></div>
				<div class="article"></div>
				<div class="read-more">	</div>
			</div>

			<div class="post">
				<div class="headline"></div>
				<div class="post-img"></div>
				<div class="article"></div>
				<div class="read-more">	</div>		
			</div>	
			
			<div class="post">
				<div class="headline"></div>
				<div class="post-img"></div>
				<div class="article"></div>
				<div class="read-more"></div>
			</div>
			
			<div class="aside">
				<div class="search-signup"></div>
				<div class="top-articles"></div>
				<div class="addverts"></div>
				<div class="addverts"></div>
			</div>

		</div>	<!-- end of main	 -->	

		<div class="email-me"></div>				
		
	</div> <!-- end of wrapper-->
	
</body>
</html>