<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Picture Float with Resize</title>
	<link rel="stylesheet" href="test-styles.css">
</head>
<body>
	<div class="wrapper">
		<div class="section">
			<h3>About</h3>
			<div class="personal-deets">
				<ul>
					<li>Info | goes here</li>
					<li>Info | goes here</li>
					<li>Info | goes here</li>
					<li>Info | goes here</li>
				</ul>
			</div>
			<div class="img-about">
				<div class="about-photo">
					<img src="images/business-cat.jpg" alt="business-cat">
				</div>
				<div class="personal-statement">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta nihil doloremque provident iusto quibusdam, alias, dolore adipisci totam. Ullam ipsa eos fugit incidunt quae sed, omnis dolorum, molestiae deserunt qui.
					</p>
				</div>
			</div>
		</div>

	</div>
	
</body>
</html>